<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mapper.SysUserAreaMapper">
	<resultMap id="SysUserArea" type="com.insigma.po.SysUserArea">
		<!--
		  @haoxz11MyBatis
		  用户管辖行政区划表表
		-->
		<id column="area_id" jdbcType="BIGINT" property="areaId" />
		<id column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="prseno" jdbcType="BIGINT" property="prseno" />
	</resultMap>
	<insert id="insertSysUserArea" parameterType="com.insigma.po.SysUserArea">
		<!--
		  @haoxz11MyBatis
		  插入用户管辖行政区划表记录
		-->
		<![CDATA[
		insert into sys_user_area (area_id, user_id, create_time, modify_time, prseno
			)
		values (#{areaId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, sysdate(), sysdate(),#{prseno,jdbcType=BIGINT}
			)
		]]>
	</insert>
	<update id="updateSysUserArea" parameterType="com.insigma.po.SysUserArea">
		<!--
		  @haoxz11MyBatis
		  更新用户管辖行政区划表记录
		-->
		update sys_user_area
		<set>
			modify_time = sysdate()
		</set>
		where area_id = #{areaId,jdbcType=BIGINT}
		  and user_id = #{userId,jdbcType=VARCHAR}
	</update>
	<select id="getByPrimaryKey" parameterType="map" resultMap="SysUserArea">
		<!--
		  @haoxz11MyBatis
		  根据主键查询用户管辖行政区划表记录
		-->
		select  * from sys_user_area where area_id = #{areaId,jdbcType=BIGINT}  and user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<select id="getListByWhere" parameterType="map" resultMap="SysUserArea">
		<!--
		  @haoxz11MyBatis
		  搜索用户管辖行政区划表列表
		-->
		select
		<if test="FIELDS != null">
			${FIELDS}
		</if>
		<if test="FIELDS == null">
			*
		</if>
		from sys_user_area
		<include refid="whereSQL" />
		<if test="ORDERLIST != null">
			 ORDER BY ${ORDERLIST}
		</if>
	</select>
	<select id="getCountByWhere" parameterType="map" resultType="java.lang.Integer">
		<!--
		  @haoxz11MyBatis
		  得到搜索用户管辖行政区划表的记录数量
		-->
		select count(*) from sys_user_area
		<include refid="whereSQL" />
	</select>
	<sql id="whereSQL">
		<!--
		
		  搜索用户管辖行政区划表记录，可修改
		-->
		<where>
			<if test="areaId != null">
				<![CDATA[ AND area_id = #{areaId,jdbcType=VARCHAR} ]]> 
			</if>
			<if test="userId != null">
				<![CDATA[ AND user_id = #{userId,jdbcType=VARCHAR} ]]> 
			</if>
		</where>
	</sql>
	
	<!-- 查询用户绑定的区域 -->
	<select id="findByUserId" resultMap="SysUserArea" resultType="java.lang.String">
		select * from sys_user_area where user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<!--根据用户ID删除 -->
	<delete id="deleteByUserId"  parameterType="com.insigma.po.SysUserArea">
		delete from sys_user_area where user_id = #{userId,jdbcType=VARCHAR}
	</delete>
	
	<!-- 批量新增 -->
	<insert id="insertByBatch" parameterType="com.insigma.po.SysUserArea">
		insert into sys_user_area (user_id, area_id, create_time, modify_time, prseno)
		values
		<foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId,jdbcType=VARCHAR}, #{item.areaId,jdbcType=BIGINT},sysdate(), sysdate(), #{item.prseno,jdbcType=BIGINT})
        </foreach>
	</insert>
</mapper>